<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Zach Flynn is an economist and dat scientist and this website has links to his projects and research.">
    <meta name="keywords" content="economics,Zach Flynn,productivity,industrial organization,statistics,data science">
    <meta name="author" content="Zach Flynn">
    <style>
      #main-content { width: 70%; margin-left:15%; }
      #title { font-size: 1em; text-align: center}
      .math-display { text-align: center; font-size: 1em }
      .math-inline { font-size: 1em }
    </style>
    <title>Zach Flynn: Blog</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59441513-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59441513-2');
    </script>
    <script src="htmx.min.js.js"></script>
  </head>
  <body>
    <script>
      document.addEventListener('htmx:afterRequest', function (evt) {

          var path = evt.detail.pathInfo.requestPath;

          if (path === "header.html") {
          }
          else {
              var permalink = document.getElementById("permalink");
              var url = "https://zflynn.com/" + path;
              permalink.innerHTML = "<p>Direct link: <a href=\"" + url + "\">" + url + "</a></p>";
          }
      });
    </script>
    
    <div class="header" hx-trigger="load" hx-get="header.html"></div>

    <div class="body">

      <div class="page-title">Blog</div>

      <div style="width:100%;margin-bottom: 1em">
        <table style="width:100%;border: 0.1em solid black">
          <tr>
            <th style="background-color: #eee">Posts</th>
          </tr>
          <tr>
            <td>
              <ol>
                <li>
                  <b class="projlink"
                     hx-trigger="click"
                     hx-get="blog/accelerating_online_experiments.html"
                     hx-target="#blog-zone">
                    Accelerating Online Experiments That Target Quantile Treatment Effects
                  </b>
                </li>
                <li>
                  <b class="projlink"
                     hx-trigger="click"
                     hx-get="blog/bounds_on_lr_te.html"
                     hx-target="#blog-zone">Bounds on Long Run Treatment Effects via d-Surrogacy</b>
                </li>
              </ol>
            </td>
          </tr>
        </table>
      </div>

      <div id="permalink"></div>

      <div style="width:100%">
        <table style="border: 0.1em solid black; width:100%">
          <tr>
            <th style="background-color: #eee">Current Post</th>
          </tr>
          <tr>
            <td id="blog-zone">
              <p>[Click links to read blogs]</p>
            </td>
          </tr>
      </div>


    </div>
  </body>
</html>


