<!doctype html>
<html>
  <head>
    <title>Zach Flynn: Hot Takes</title>
    <meta name="description" content="Zach Flynn is an economist and dat scientist and this website has links to his projects and research.">
    <meta name="keywords" content="economics,Zach Flynn,productivity,industrial organization,statistics,data science">
    <meta name="author" content="Zach Flynn">
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59441513-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59441513-2');
    </script>
    <script src="htmx.min.js.js"></script>
  </head>

  <body>
    <div class="header" hx-trigger="load" hx-get="header.html"></div>

    <div class="body">

      <div class="page-title">Hot takes on data analysis</div>

      <p>Some short, hot takes on data analysis.</p>

      <div style="width:50%;float:left">
        <table style="width:100%; border: 0.1em solid black">
          <tr>
            <th style="background-color: #eee">Current Takes</th>
          </tr>
          <tr >
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="measuring_experiment_success.html"
                 hx-target="#hot-take-zone">Measuring experiment success is a hard problem.</b>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="failed_experiment_value.html"
                 hx-target="#hot-take-zone">Failed experiments are the value of experimentation.</b>
            </td>
          </tr>

          
          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="drp.html"
                 hx-target="#hot-take-zone">Make decisions with scalar parameters.</b>
            </td>
          </tr>

          <tr>
            <td style="padding-bottom: 1em">            

              <b class="projlink"
                 hx-trigger="click"
                 hx-get="complex_models.html"
                 hx-target="#hot-take-zone">Complex models need an explanation of exactly what data they use to answer a question. Black boxes are bad.</b>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 1em">

              <b class="projlink"
                 hx-trigger="click"
                 hx-get="numerical_optimization.html"
                 hx-target="#hot-take-zone">Numerical optimization is a hard problem not an afterthought.</b>
            </td>
          </tr>

          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="weaker_theory.html"
                 hx-target="#hot-take-zone">The weaker the theory, the more robust the results. The stronger the theory, the more meaningful the results.</b>
            </td>
          </tr>
        </table>
      </div>

      <div style="width:48%;float:right">
        <table style="border: 0.1em solid black;width:100%">
          <tr> 
           <th style="background-color: #eee">Hot Take</th>
          </tr>
          <tr>
            <td id="hot-take-zone">
              <p>[Click links to insert hot takes.]</p>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </body>
</html>
