.body {
    width: 80em;
    margin-left: 10%;
    margin-top: 1em;
    font-family: 'Noto Serif', serif;

}

.header {
    font-family: 'Noto Serif', serif;
    width: 80em;
    margin-left: 10%;
    border: 0px;
}

.headertable a {
    padding: 0.5em;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.text {
    border:0.2em solid black;
    background: #aeb2c3;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: #9ca0af;
    border-right-color: #9ca0af;
    width: 100%;
    padding-bottom: 1em;
}
.textheader {
    background: #b24d7a;
    color: white;
    font-weight: bold;
    border: 0.1em solid black;
    border-top-color: #9ca0af;
    border-left-color: #9ca0af;
    border-bottom-color: white;
    border-right-color: white;
}

.textheader a {
    color: white;
}

.tooltitle {
    text-align:left;
    padding-left: 1em;
}


.projlink {
    cursor: pointer;
    color: blue;
}

.projlink:hover {
    color: red;
}

.text td {
    padding-left: 1em;
    padding-right: 1em;
}


body {
    background-color: #718ba5;
}


