.body {
    width: 80em;
    margin-left: 10%;
    margin-top: 1em;
    font-family: 'Noto Serif', serif;

}

.header {
    font-family: 'Noto Serif', serif;
    width: 80em;
    margin-left: 10%;
    border: 0px;
}

.headertable a {
    padding: 0.5em;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.recessimage {
    /* border:0.1em solid black; */
    /* border-bottom-color: #c6c6c6; */
    /* border-right-color: #c6c6c6; */
    /* border-top-color: #c6c6c6; */
    /* border-left-color: #c6c6c6; */
    width: 60em;
    margin-top: 1em;
}
    

.text {
    border:0.2em solid black;
    background: #fffbfb;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: #b6c6c6;
    border-right-color: #b6c6c6;
    width: 100%;
    padding-bottom: 1em;
}
.textheader {
    background: #018001;
    color: white;
    font-weight: bold;
    /* border: 0.1em solid black; */
    /* border-top-color: #b6c6c6; */
    /* border-left-color: #b6c6c6; */
    /* border-bottom-color: white; */
    /* border-right-color: white; */
}

.textheader a {
    color: white;
}

.tooltitle {
    text-align:left;
    padding-left: 1em;
}


.projlink {
    cursor: pointer;
    color: blue;
}

.projlink:hover {
    color: red;
}

.text td {
    padding-left: 1em;
    padding-right: 1em;
}


body {
    background: #bbcccc;

}


