.body {
    width: 60%;
    margin-left: 20%;
    margin-top: 1em;
    font-family: 'Noto Sans', sans;
    background: #f4f3ee;
    border:0.1em solid #050517;
    font-weight: 400;
    padding: 2em;
    box-shadow: 0.25em 0.25em 0em #050517;
    border-radius: 2em;

}

#data {
    border-collapse: collapse;
}

#data th {
    text-align:left;
    border-bottom:0.1em solid #050517;
    border-top:0.1em solid #050517
}

h1, h2, h3 {
    font-family: 'Domine', serif;
    font-weight: 700;

}

a {
    color: #157145;
    font-weight: bold;
}

a:hover {
    color: #DB5461;
}

.links {
    padding-right: 0.25em;
}

.recessimage {
    width: 70%;
    margin-top: 1em;
}

.tooltitle {
    text-align:left;
    padding-left: 1em;
}


.projlink {
    cursor: pointer;
    color: #157145;
}

.projlink:hover {
    color: #DB5461;
}

.text td {
    padding-left: 1em;
    padding-right: 1em;
}

body {
    background: #6A8EAE;
    color: #050517;

}

.side-by-side:after {
    content: "";
    clear: both;
    display: table;
}

