<!doctype html>
<html>
  <head>
    <title>Zach Flynn: Fun, Non-Data Projects</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59441513-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59441513-2');
    </script>

    <script src="htmx.min.js.js"></script>

  </head>
  <body>
    <div class="header" hx-trigger="load" hx-get="header.html"></div>
    <div class="body">
      <div class="page-title">Non-Data Projects</div>
      
      <p>I write programs sometimes for non-data things. Usually either to solve a non-work problem or just for fun.</p>

      <div style="width:50%;float:left">
        <table style="width:100%; border: 0.1em solid black">
          <tr>
            <th style="background-color: #eee">Project</th>
          </tr>
          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="stpwtch_com.html"
                 hx-target="#hot-take-zone">stpwtch.com: for knowing where the time went</b>
            </td>
          </tr>          
          <tr >
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="slobil.html"
                 hx-target="#hot-take-zone">SLOBIL: a programming language for command-based interactive programs.</b>
            </td>
          </tr>

          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="leas.html"
                 hx-target="#hot-take-zone">Leas: the Little Extensible Accounting System.</b>
            </td>
          </tr>

          
          <tr>
            <td style="padding-bottom: 1em">            

              <b class="projlink"
                 hx-trigger="click"
                 hx-get="pushmac.html"
                 hx-target="#hot-take-zone">pushmac: a stack-based macro language.</b>
            </td>
          </tr>


        </table>
      </div>

      <div style="width:48%;float:right">
        <table style="border: 0.1em solid black;width:100%">
          <tr> 
           <th style="background-color: #eee">About</th>
          </tr>
          <tr>
            <td id="hot-take-zone">
              <p>[Click links to learn about projects.]</p>
            </td>
          </tr>
        </table>
      </div>

    </div>

  </body>
</html>
