#title=`Zach Flynn: Projects'@
##cat website.pushmac|$
##header~$

<div class="body">
  ##navbar~$

  <p>Examples of (public, not-directly-work) projects I've worked on. See my <a href="cv.html">CV</a> for examples of projects I've worked on for employers, and my <a href="https://goodenoughstatistics.com">blog</a> for other short writing.</p>

  <h3>Short Writing</h3>
  <ol>
    <li>
      <b class="projlink"
         hx-trigger="click"
         hx-get="slides/zachlog.html"
         hx-swap="innerHTML show:top"
         hx-target="`#'hot-take-zone">Good Enough Statistics.</b>
      <noscript><a href="slides/zachlog.html">[link]</a></noscript>
    </li>
  </ol>

  <h3>Papers</h3>
  <ol>
    <li><b class="projlink"
           hx-trigger="click"
           hx-get="slides/pit.html"
           hx-swap="innerHTML show:top"
           hx-target="`#'hot-take-zone">Measuring productivity (Identifying productivity when it is a factor of production).</b>
      <noscript><a href="slides/pit.html">[link]</a></noscript></li>

    <li><b class="projlink"
           hx-trigger="click"
           hx-get="slides/sip.html"
           hx-swap="innerHTML show:top"
           hx-target="`#'hot-take-zone">Inference based on continuous linear inequalities via semi-infinite programming.</b>
      <noscript><a href="slides/sip.html">[link]</a></noscript></li>

    <li><b class="projlink"
           hx-trigger="click"
           hx-get="slides/markups.html"
           hx-swap="innerHTML show:top"
           hx-target="`#'hot-take-zone">Measuring markups with production data (with Amit Gandhi and James Traina).</b>
      <noscript><a href="slides/markups.html">[link]</a></noscript></li>
  </ol>

  <h3>Websites</h3>
  <ol>
    <li>
      <b class="projlink"
         hx-trigger="click"
         hx-get="slides/samplesizer.html"
         hx-swap="innerHTML show:top"
         hx-target="`#'hot-take-zone">samplesizer.com: The Best Sample Sizer</b>
      <noscript><a href="slides/samplesizer.html">[link]</a></noscript>
    </li>
    <li>
      <b class="projlink"
         hx-trigger="click"
         hx-get="slides/stpwtch_com.html"
         hx-swap="innerHTML show:top"
         hx-target="`#'hot-take-zone">stpwtch.com: for knowing where the time went</b>
      <noscript><a href="slides/stpwtch_com.html">[link]</a></noscript>
    </li>
    <li>
      <b class="projlink"
         hx-trigger="click"
         hx-get="slides/memo_er.html"
         hx-swap="innerHTML show:top"
         hx-target="`#'hot-take-zone">Memo_er (memoer.io): better self-service data analysis.</b>
      <noscript><a href="slides/memo_er.html">[link]</a></noscript>
    </li>

  </ol>


  <h3>Programs and Libraries</h3>

  <ol>
    <li><b class="projlink"
           hx-trigger="click"
           hx-get="slides/articleml.html"
           hx-swap="innerHTML show:top"
           hx-target="`#'hot-take-zone">ArticleML: A markup language for articles with math built for the web.</b>
      <noscript><a href="slides/articleml.html">[link]</a></noscript>
    </li>
    <li>
      <b class="projlink"
         hx-trigger="click"
         hx-get="slides/slobil.html"
         hx-swap="innerHTML show:top"
         hx-target="`#'hot-take-zone">SLOBIL: a programming language for command-based interactive programs.</b>
      <noscript><a href="slides/slobil.html">[link]</a></noscript>
    </li>

    <li>
      <b class="projlink"
         hx-trigger="click"
         hx-get="slides/leas.html"
         hx-swap="innerHTML show:top"
         hx-target="`#'hot-take-zone">Leas: the Little Extensible Accounting System.</b>
      <noscript><a href="slides/leas.html">[link]</a></noscript>
    </li>


    <li>
      <b class="projlink"
         hx-trigger="click"
         hx-get="slides/pushmac.html"
         hx-swap="innerHTML show:top"
         hx-target="`#'hot-take-zone">pushmac: a stack-based macro language.</b>
      <noscript><a href="slides/pushmac.html">[link]</a></noscript>
    </li>

    <li>
      <td style="padding-bottom: 1em">            

        <b class="projlink"
           hx-trigger="click"
           hx-get="slides/genvar.html"
           hx-swap="innerHTML show:top"
           hx-target="`#'hot-take-zone">Enable Stata-like data manipulation in R.</b>
        <noscript><a href="slides/genvar.html">[link]</a></noscript>
    </li>
  </ol>
</div>

<div class="body" id="hot-take-zone">
  <p>[Click links to learn about projects.]</p>
</div>


##footer~$
