<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Zach Flynn is an economist and dat scientist and this website has links to his projects and research.">
    <meta name="keywords" content="economics,Zach Flynn,productivity,industrial organization,statistics,data science">
    <meta name="author" content="Zach Flynn">

    <title>Zach Flynn: Projects</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59441513-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59441513-2');
    </script>
    <script src="htmx.min.js.js"></script>
  </head>
  <body>
    <div class="header" hx-trigger="load" hx-get="header.html"></div>

    <div class="body">

      <div class="page-title">Projects</div>

      <p>Examples of (public, not-directly-work) projects I've worked on. See my <a href="cv.pdf">CV</a> for examples of projects I've worked on for employers, and my <a href="https://medium.com/@zlflynn">blog</a> for other short writing.</p>

      
      <div style="width:50%;float:left">
        <table style="width:100%; border: 0.1em solid black">
          <tr>
            <th style="background-color: #eee">Short Writing</th>
          </tr>

          <tr >
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="estimating_quantile_treatment_effects.html"
                 hx-target="#hot-take-zone">Estimating quantile treatments efficiently in experiments.</b>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="bound_long_run_te.html"
                 hx-target="#hot-take-zone">Bounding long run treatment effects.</b>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="time_limit.html"
                 hx-target="#hot-take-zone">Time-limiting metrics.</b>
            </td>
          </tr>

          <tr>
            <th style="background-color:#eee">Programs and Libraries</th>
          </tr>
          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="stpwtch_com.html"
                 hx-target="#hot-take-zone">stpwtch.com: for knowing where the time went</b>
            </td>
          </tr>          
          <tr >
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="slobil.html"
                 hx-target="#hot-take-zone">SLOBIL: a programming language for command-based interactive programs.</b>
            </td>
          </tr>

          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="leas.html"
                 hx-target="#hot-take-zone">Leas: the Little Extensible Accounting System.</b>
            </td>
          </tr>

          
          <tr>
            <td style="padding-bottom: 1em">            

              <b class="projlink"
                 hx-trigger="click"
                 hx-get="pushmac.html"
                 hx-target="#hot-take-zone">pushmac: a stack-based macro language.</b>
            </td>
          </tr>

          <tr >
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="articleml.html"
                 hx-target="#hot-take-zone">ArticleML: A markup language for articles with math built for the web.</b>
            </td>
          </tr>
          
          <tr>
            <td style="padding-bottom: 1em">            

              <b class="projlink"
                 hx-trigger="click"
                 hx-get="genvar.html"
                 hx-target="#hot-take-zone">Enable Stata-like data manipulation in R.</b>
            </td>
          </tr>

          <tr>
            <th style="background-color:#eee">Papers</th>
          </tr>
          <tr>
            <td style="padding-bottom: 1em">

              <b class="projlink"
                 hx-trigger="click"
                 hx-get="pit.html"
                 hx-target="#hot-take-zone">Measuring productivity (Identifying productivity when it is a factor of production)</b>
            </td>
          </tr>

          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="sip.html"
                 hx-target="#hot-take-zone">Inference based on continuous linear inequalities via semi-infinite programming.</b>
            </td>
          </tr>

          
          <tr>
            <td style="padding-bottom: 1em">
              <b class="projlink"
                 hx-trigger="click"
                 hx-get="markups.html"
                 hx-target="#hot-take-zone">Measuring markups with production data (with Amit Gandhi and James Traina).</b>
            </td>
          </tr>
        </table>
      </div>

      <div style="width:48%;float:right">
        <table style="border: 0.1em solid black;width:100%">
          <tr> 
            <th style="background-color: #eee">About</th>
          </tr>
          <tr>
            <td id="hot-take-zone">
              <p>[Click links to learn about projects.]</p>
            </td>
          </tr>
        </table>
      </div>

    </div>


  </body>
</html>
